@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: radial-gradient(#212121 10%, #18181b 20%);
    background-position: 0 0;
    background-size: 10px 10px;
    height: 200px;
    width: 100%;
  }